## IMPORTING THE REQUIRED LIBRARIES AND DATA

In [3]:
import pandas as pd
import sqlite3
import matplotlib.pyplot as plt
import seaborn as sns

# Display all columns in one line
pd.set_option('display.max_columns', None)   # show all columns
pd.set_option('display.width', 1000)         # set a wide width to avoid wrapping


# Load CSV
df_csv = pd.read_csv('tn.movie_budgets.csv\\tn.movie_budgets.csv')

# Load SQLite
conn = sqlite3.connect('im.db\im.db')

In [4]:
# Check CSV columns and first 5 rows
print("CSV columns:")
print(df_csv.columns.tolist())

print("\nCSV sample data:")
print(df_csv.head())

CSV columns:
['id', 'release_date', 'movie', 'production_budget', 'domestic_gross', 'worldwide_gross']

CSV sample data:
   id  release_date                                        movie production_budget domestic_gross worldwide_gross
0   1  Dec 18, 2009                                       Avatar      $425,000,000   $760,507,625  $2,776,345,279
1   2  May 20, 2011  Pirates of the Caribbean: On Stranger Tides      $410,600,000   $241,063,875  $1,045,663,875
2   3   Jun 7, 2019                                 Dark Phoenix      $350,000,000    $42,762,350    $149,762,350
3   4   May 1, 2015                      Avengers: Age of Ultron      $330,600,000   $459,005,868  $1,403,013,963
4   5  Dec 15, 2017            Star Wars Ep. VIII: The Last Jedi      $317,000,000   $620,181,382  $1,316,721,747

In [5]:
# Check available tables
tables = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table';", conn)
print("SQLite tables:")
print(tables)

SQLite tables:
            name
0   movie_basics
1      directors
2      known_for
3     movie_akas
4  movie_ratings
5        persons
6     principals
7        writers

In [6]:
# Inspect movie_basics table
df_movie_basics = pd.read_sql_query("SELECT * FROM movie_basics;", conn)

print("\nFirst 5 rows of movie_basics:")
print(df_movie_basics)

print("\nColumns in movie_basics:")
print(df_movie_basics.columns.tolist())

First 5 rows of movie_basics:
         movie_id                                primary_title                               original_title  start_year  runtime_minutes                genres
0       tt0063540                                    Sunghursh                                    Sunghursh        2013            175.0    Action,Crime,Drama
1       tt0066787              One Day Before the Rainy Season                              Ashad Ka Ek Din        2019            114.0       Biography,Drama
2       tt0069049                   The Other Side of the Wind                   The Other Side of the Wind        2018            122.0                 Drama
3       tt0069204                              Sabse Bada Sukh                              Sabse Bada Sukh        2018              NaN          Comedy,Drama
4       tt0100275                     The Wandering Soap Opera                        La Telenovela Errante        2017             80.0  Comedy,Drama,Fantasy
...           ...                                          ...                                          ...         ...              ...                   ...
146139  tt9916538                          Kuambil Lagi Hatiku                          Kuambil Lagi Hatiku        2019            123.0                 Drama
146140  tt9916622  Rodolpho Teóphilo - O Legado de um Pioneiro  Rodolpho Teóphilo - O Legado de um Pioneiro        2015              NaN           Documentary
146141  tt9916706                              Dankyavar Danka                              Dankyavar Danka        2013              NaN                Comedy
146142  tt9916730                                       6 Gunn                                       6 Gunn        2017            116.0                  None
146143  tt9916754               Chico Albuquerque - Revelações               Chico Albuquerque - Revelações        2013              NaN           Documentary

[146144 rows x 6 columns]

Columns in movie_basics:
['movie_id', 'primary_title', 'original_title', 'start_year', 'runtime_minutes', 'genres']

## DATA CLEANING

In [7]:
# Check missing values
print("Missing values in CSV:")
print(df_csv.isnull().sum())

print("\nMissing values in movie_basics:")
print(df_movie_basics.isnull().sum())

# Check duplicates
print("\nDuplicate movie titles in CSV:")
print(df_csv['movie'].duplicated().sum())

print("\nDuplicate primary_title in movie_basics:")
print(df_movie_basics['primary_title'].duplicated().sum())

# Clean numeric columns
df_csv['production_budget'] = df_csv['production_budget'].replace('[\$,]', '', regex=True)
df_csv['production_budget'] = pd.to_numeric(df_csv['production_budget'], errors='coerce')

df_csv['worldwide_gross'] = df_csv['worldwide_gross'].replace('[\$,]', '', regex=True)
df_csv['worldwide_gross'] = pd.to_numeric(df_csv['worldwide_gross'], errors='coerce')

# Clean movie titles: strip spaces, lowercase, remove punctuation
df_csv['movie_clean'] = ( df_csv['movie'].str.strip().str.lower().str.replace(r"[^\w\s]", "", regex=True))

df_movie_basics['primary_title_clean'] = (df_movie_basics['primary_title'].str.strip().str.lower().str.replace(r"[^\w\s]", "", regex=True))

Missing values in CSV:
id                   0
release_date         0
movie                0
production_budget    0
domestic_gross       0
worldwide_gross      0
dtype: int64

Missing values in movie_basics:
movie_id               0
primary_title          0
original_title        21
start_year             0
runtime_minutes    31739
genres              5408
dtype: int64

Duplicate movie titles in CSV:
84

Duplicate primary_title in movie_basics:
10073

In [8]:
# Merge on primary_title_clean
df_merge_primary = pd.merge(
    df_csv,
    df_movie_basics[['movie_id', 'primary_title', 'genres', 'start_year', 'primary_title_clean']],
    left_on='movie_clean',
    right_on='primary_title_clean',
    how='inner'
)

In [9]:
# Load movie_akas
df_movie_akas = pd.read_sql_query("SELECT movie_id, title FROM movie_akas", conn)

In [10]:
# Clean movie_id type
df_movie_basics['movie_id'] = df_movie_basics['movie_id'].astype(str)
df_movie_akas['movie_id'] = df_movie_akas['movie_id'].astype(str)

# Clean movie_akas titles
df_movie_akas['clean_aka_title'] = (df_movie_akas['title'].str.strip().str.lower().str.replace(r"[^\w\s]", "", regex=True))

In [11]:
# Find unmatched movies after primary_title merge
matched_movie_titles = df_merge_primary['movie'].unique()
df_csv_unmatched = df_csv[~df_csv['movie'].isin(matched_movie_titles)]

print(f"Number of unmatched movies after primary_title merge: {df_csv_unmatched.shape[0]}")

Number of unmatched movies after primary_title merge: 3309

In [12]:
# Merge unmatched movies with AKAS
df_merge_akas = pd.merge(
    df_csv_unmatched,
    df_movie_akas[['movie_id', 'clean_aka_title']],
    left_on='movie_clean',
    right_on='clean_aka_title',
    how='inner'
)

# Bring in genres and start_year
df_merge_akas_full = pd.merge(
    df_merge_akas,
    df_movie_basics[['movie_id', 'genres', 'start_year']],
    on='movie_id',
    how='left'
)

# Concatenate both DataFrames
df_merged_combined = pd.concat([df_merge_primary, df_merge_akas_full], ignore_index=True)

# Drop duplicates based on 'movie'
df_merged_combined = df_merged_combined.drop_duplicates(subset='movie', keep='first')

# Show final merged result
print("\nFINAL Merged DataFrame shape:", df_merged_combined.shape)
print("\nSample merged data with genres:")
print(df_merged_combined[['movie', 'genres', 'production_budget', 'worldwide_gross']].head(5))

# --- Do not re-merge on raw movie and primary_title here ---
# That part of your code was redundant and would undo the work.

# Optional: Print unmatched movie titles again if you want:
csv_titles = set(df_csv['movie_clean'].unique())
primary_titles = set(df_movie_basics['primary_title_clean'].unique())
aka_titles = set(df_movie_akas['clean_aka_title'].unique())

total_db_titles = primary_titles.union(aka_titles)

unmatched_movies = csv_titles - total_db_titles
print(f"\nNumber of completely unmatched movies: {len(unmatched_movies)}")
if len(unmatched_movies) > 0:
    print("Example unmatched movies:", list(unmatched_movies)[:10])

# Done!

FINAL Merged DataFrame shape: (2595, 13)

Sample merged data with genres:
                                         movie                    genres  production_budget  worldwide_gross
0                                       Avatar                    Horror          425000000       2776345279
1  Pirates of the Caribbean: On Stranger Tides  Action,Adventure,Fantasy          410600000       1045663875
2                                 Dark Phoenix   Action,Adventure,Sci-Fi          350000000        149762350
3                      Avengers: Age of Ultron   Action,Adventure,Sci-Fi          330600000       1403013963
4                       Avengers: Infinity War   Action,Adventure,Sci-Fi          300000000       2048134200

Number of completely unmatched movies: 3103
Example unmatched movies: ['black water transit', 'bend it like beckham', 'la guerre du feu', 'my cousin vinny', 'the thousand miles', 'seed of chucky', 'men women and children', 'artie langes beer league', 'osama', 'urbania']

## DATA CLEANING

In [13]:
# Check missing values again in merged data
print(df_merged_combined[['genres', 'production_budget', 'worldwide_gross']].isnull().sum())

# Check how many genres are 'missing'
missing_genres_count = df_merged_combined['genres'].isnull().sum()
print(f"Movies with missing genres: {missing_genres_count}")

# Check how many budgets/grosses are 0 or very small
print("\nMovies with 0 or missing production_budget:")
print(df_merged_combined[df_merged_combined['production_budget'] <= 0][['movie', 'production_budget']])

print("\nMovies with 0 or missing worldwide_gross:")
print(df_merged_combined[df_merged_combined['worldwide_gross'] <= 0][['movie', 'worldwide_gross']])

genres               26
production_budget     0
worldwide_gross       0
dtype: int64
Movies with missing genres: 26

Movies with 0 or missing production_budget:
Empty DataFrame
Columns: [movie, production_budget]
Index: []

Movies with 0 or missing worldwide_gross:
                   movie  worldwide_gross
487               Bright                0
516     Call of the Wild                0
754     The Ridiculous 6                0
755               Midway                0
912   The Rhythm Section                0
...                  ...              ...
4318  The Horror Network                0
4319   Le bonheur d'Elza                0
4329    El rey de Najayo                0
4331    Brooklyn Bizarre                0
4334           Arrowhead                0

[240 rows x 2 columns]

## ANALYSIS

In [14]:
pd.set_option('display.float_format', '{:,.0f}'.format)
# Basic statistics
print("\nProduction Budget stats:")
print(df_merged_combined['production_budget'].describe())

print("\nWorldwide Gross stats:")
print(df_merged_combined['worldwide_gross'].describe())

Production Budget stats:
count         2,595
mean     35,288,796
std      48,457,889
min           1,400
25%       5,000,000
50%      18,000,000
75%      42,000,000
max     425,000,000
Name: production_budget, dtype: float64

Worldwide Gross stats:
count           2,595
mean      104,858,154
std       204,682,209
min                 0
25%         2,468,476
50%        30,601,801
75%       106,891,702
max     2,776,345,279
Name: worldwide_gross, dtype: float64

## PROFITABLE GENRES

In [15]:
# Add gross-to-budget ratio
df_merged_combined['gross_to_budget_ratio'] = df_merged_combined['worldwide_gross'] / df_merged_combined['production_budget']

# Exclude rows with worldwide_gross == 0
df_profitable = df_merged_combined[df_merged_combined['worldwide_gross'] > 0]

# Group by genre (explode multi-genre entries)
df_profitability = (
    df_profitable.dropna(subset=['genres', 'gross_to_budget_ratio'])
    .assign(genres=df_profitable['genres'].str.split(','))
    .explode('genres')
    .groupby('genres')
    .gross_to_budget_ratio
    .median()
    .sort_values(ascending=False)
)

print("\nMedian gross-to-budget ratio per genre:")
print(df_profitability)

Median gross-to-budget ratio per genre:
genres
News          3
Animation     3
Horror        3
Mystery       3
Sci-Fi        2
Adventure     2
Comedy        2
Action        2
Romance       2
Thriller      2
Fantasy       2
Family        2
Music         2
Biography     2
Drama         2
Crime         2
Documentary   1
Sport         1
Western       1
History       1
Musical       1
War           1
Name: gross_to_budget_ratio, dtype: float64

## Mean production budget, mean worldwide gross, mean profit per genre:

In [16]:
# Exclude rows with worldwide_gross == 0
df_profitable = df_merged_combined[df_merged_combined['worldwide_gross'] > 0]

# Prepare for grouping
df_mean_budget_gross_profit = (
    df_profitable.dropna(subset=['genres', 'production_budget', 'worldwide_gross'])
    .assign(genres=df_profitable['genres'].str.split(','))
    .explode('genres')
    .groupby('genres')
    .agg(
        mean_production_budget=('production_budget', 'mean'),
        mean_worldwide_gross=('worldwide_gross', 'mean'),
        movie_count=('movie', 'count')
    )
)

# Add mean profit column
df_mean_budget_gross_profit['mean_profit'] = (df_mean_budget_gross_profit['mean_worldwide_gross']- df_mean_budget_gross_profit['mean_production_budget'])

# Sort by mean_profit descending
df_mean_budget_gross_profit = df_mean_budget_gross_profit.sort_values(by='mean_profit', ascending=False)

# Display the result
print("\nMean production budget, mean worldwide gross, mean profit per genre:")
print(df_mean_budget_gross_profit)

Mean production budget, mean worldwide gross, mean profit per genre:
             mean_production_budget  mean_worldwide_gross  movie_count  mean_profit
genres
Animation                82,571,971           299,401,504          136  216,829,533
Adventure                94,451,028           307,590,292          437  213,139,264
Sci-Fi                   81,264,575           289,128,409          171  207,863,834
Action                   73,085,014           215,559,859          553  142,474,845
Fantasy                  75,874,603           206,254,628          156  130,380,025
Family                   53,708,906           145,714,061          139   92,005,154
Comedy                   36,521,131           116,308,017          693   79,786,886
Thriller                 31,203,550            96,985,846          350   65,782,296
Mystery                  25,344,627            87,913,904          161   62,569,277
Horror                   20,339,655            74,072,544          252   53,732,890
Musical                  31,026,471            83,464,361           17   52,437,890
Music                    15,528,971            66,012,973           68   50,484,003
Biography                23,137,456            68,628,992          189   45,491,536
Crime                    30,572,869            74,760,349          299   44,187,480
Sport                    24,148,936            67,170,914           47   43,021,977
Romance                  21,774,975            64,056,621          280   42,281,646
Drama                    25,446,790            67,603,809         1163   42,157,019
Western                  42,700,000            82,795,001           16   40,095,001
News                     16,000,000            52,011,974            2   36,011,974
Documentary              20,347,700            54,194,048          183   33,846,347
War                      24,557,895            57,099,183           38   32,541,288
History                  26,697,222            56,558,554           72   29,861,332