## IMPORTING THE REQUIRED LIBRARIES AND DATA

In [3]:
import pandas as pd
import sqlite3
import matplotlib.pyplot as plt
import seaborn as sns

# Display all columns in one line
pd.set_option('display.max_columns', None)   # show all columns
pd.set_option('display.width', 1000)         # set a wide width to avoid wrapping


# Load CSV
df_csv = pd.read_csv('tn.movie_budgets.csv\\tn.movie_budgets.csv')

# Load SQLite
conn = sqlite3.connect('im.db\im.db')

In [4]:
# Check CSV columns and first 5 rows
print("CSV columns:")
print(df_csv.columns.tolist())

print("\nCSV sample data:")
print(df_csv.head())

CSV columns:
['id', 'release_date', 'movie', 'production_budget', 'domestic_gross', 'worldwide_gross']

CSV sample data:
   id  release_date                                        movie production_budget domestic_gross worldwide_gross
0   1  Dec 18, 2009                                       Avatar      $425,000,000   $760,507,625  $2,776,345,279
1   2  May 20, 2011  Pirates of the Caribbean: On Stranger Tides      $410,600,000   $241,063,875  $1,045,663,875
2   3   Jun 7, 2019                                 Dark Phoenix      $350,000,000    $42,762,350    $149,762,350
3   4   May 1, 2015                      Avengers: Age of Ultron      $330,600,000   $459,005,868  $1,403,013,963
4   5  Dec 15, 2017            Star Wars Ep. VIII: The Last Jedi      $317,000,000   $620,181,382  $1,316,721,747

In [5]:
# Check available tables
tables = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table';", conn)
print("SQLite tables:")
print(tables)

SQLite tables:
            name
0   movie_basics
1      directors
2      known_for
3     movie_akas
4  movie_ratings
5        persons
6     principals
7        writers

In [6]:
# Inspect movie_basics table
df_movie_basics = pd.read_sql_query("SELECT * FROM movie_basics;", conn)

print("\nFirst 5 rows of movie_basics:")
print(df_movie_basics)

print("\nColumns in movie_basics:")
print(df_movie_basics.columns.tolist())

First 5 rows of movie_basics:
         movie_id                                primary_title                               original_title  start_year  runtime_minutes                genres
0       tt0063540                                    Sunghursh                                    Sunghursh        2013            175.0    Action,Crime,Drama
1       tt0066787              One Day Before the Rainy Season                              Ashad Ka Ek Din        2019            114.0       Biography,Drama
2       tt0069049                   The Other Side of the Wind                   The Other Side of the Wind        2018            122.0                 Drama
3       tt0069204                              Sabse Bada Sukh                              Sabse Bada Sukh        2018              NaN          Comedy,Drama
4       tt0100275                     The Wandering Soap Opera                        La Telenovela Errante        2017             80.0  Comedy,Drama,Fantasy
...           ...                                          ...                                          ...         ...              ...                   ...
146139  tt9916538                          Kuambil Lagi Hatiku                          Kuambil Lagi Hatiku        2019            123.0                 Drama
146140  tt9916622  Rodolpho Teóphilo - O Legado de um Pioneiro  Rodolpho Teóphilo - O Legado de um Pioneiro        2015              NaN           Documentary
146141  tt9916706                              Dankyavar Danka                              Dankyavar Danka        2013              NaN                Comedy
146142  tt9916730                                       6 Gunn                                       6 Gunn        2017            116.0                  None
146143  tt9916754               Chico Albuquerque - Revelações               Chico Albuquerque - Revelações        2013              NaN           Documentary

[146144 rows x 6 columns]

Columns in movie_basics:
['movie_id', 'primary_title', 'original_title', 'start_year', 'runtime_minutes', 'genres']